.home-page-introduction {
  padding: 0 20px;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/fundo-barbearia.png");
}

.home-page-content {
  height: 100vh;
  display: flex;
  align-items: center;
}

.introduction-description {
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 2px solid #232323;
  height: 450px;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  text-align: center;
}

.introduction-description h3 {
  color: #d9d9d9;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 20px;
}

.introduction-description p {
  color: #d9d9d9;
  font-size: 18px;
  margin-bottom: 20px;
}

.introduction-description button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  color: #d9d9d9;
  font-size: 15px;
  text-transform: uppercase;
  background-color: #232323;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .introduction-description {
    margin: 0 auto;
  }
}